/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #f5d6b4
  Brown: #D86F45
*/

.box {
  background-color: #f5d6b4;
}

.cloud {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #D86F45 ;
  border-radius: 100%;
  top: 115px;
  left: 100px;
}
.cloud::before{
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  background-color:#D86F45 ;
  border-radius: 100%;
  left: 80px;
  top: -30px;
}
.cloud::after{
  position: absolute;
  content: '';
  width: 160px;
  height: 50px;
  background-color:#D86F45 ;
  top: 50px;
  left: 40px;
  border-radius: 25px;

 
 
}
