/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0B2429
  Yellow: #F7EC7D
  Orange: #E38F66
  Red: #AA445F
*/

.box {
  background-color: #62306d;
}

.rectangle {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #aa445f;
  top: 50px;
  left: 80px;
  border-radius: 50% 50% 0 0;
}

.rectangle::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  background-color: #f7ec7d;
  top: 50px;
  border-radius: 100%;
  box-shadow: 140px 0px #f7ec7d;
}
.rectangle::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  background-color: #e38f66;
  border-radius: 0 0 50% 50%;
  left: 140px;
  top: 100px;
}
