/* 
Colors:
  Background: #998235
  White: #FFF
  Black: #191919
  Yellow: #191919
*/

.box {
  background-color: #998235;
}

.shape-1 {
  position: relative;
  width: 150px;
  height: 75px;
  background-color: yellow;
  top: 150px;
  left: 125px;
  border-radius: 35px;
  overflow: hidden;
}
.shape-1::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 75px;
  background-color: #000000;
  left: 35px;
  box-shadow: 35px 0px rgb(0, 0, 0);
}
.shape-1::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 75px;
  background-color: #000000;
}

.shape-2 {
  position: relative;
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 100%;
  left: 125px;
  box-shadow: 75px 0px #fff;
}
.shape-2::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  top: 40px;
  left: 40px;
}
.shape-2::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(0, 0, 0);
  top: 95px;
  left: 115px;
  border-radius: 100%;
}
