/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0b2429
  Yellow:#F3AC3C
*/

.box {
  background-color: #0b2429;
}

.triangle {
  position: relative;
  width: 140px;
  height: 140px;
  background-color: #F3AC3C;

}

.triangle::after{
  position: absolute;
  content: '';
  width: 700px;
  height: 700px;
  background-color: #0b2429;
  rotate: 45deg;
  left: -65px;
  top: 1px;
}